node_modules
**/node_modules
**/dist
.git
.github
.gitignore
.env
.env.*
!.env.example
*.log
coverage
tmp
tools
design
docs
scripts
README.md
compose.yaml
deploy/*
!deploy/russian_trusted_root_ca.pem
apps/*/test
packages/*/test
.vscode
.idea
